.mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #7c0c0c;
  
    color: white;
  
  }
  
  .topnav {
    overflow: hidden;
    background-color: #e6e2e2;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: rgb(238, 235, 235);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(7, 4, 4);
  }
  
  .active {
    background-color: #04AA6D;
    color: white;
  }

  .mobile-container
  {
    display:none;
  }

  
 
  
  @media (max-width:500px) {
    #nav_header a {
        display: none;
    }

    .mobile-container
  {
    display:block;
  }

  #mobile-container
  {
    display:none;
  }

    
  }