*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
body
{
    height:100%;
    background-color:#000;
    background-image: url(3d.jpg);
    background-size: cover;
    background-position: center;
}
li
{
    list-style: none;

}

a
{
    text-decoration: none;
    color:#fff;
    font-size: 1rem;
}
a:hover
{
    color: #dd9504;
}

header
{
    position: relative;
    padding: 0 2rem;
}
.navbar
{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.navbar .loga a{
    font-size: 1.3rem;
    font-weight:bold;

}

.navbar .link{
    display: flex;
    gap:2rem
}

.navbar .toggle_btn
{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn
{
    background-color: #dd9504;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline:none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover
{
    scale:1.5;
    color: #fff;
}

.action_btn:active
{
    scale: 0.95;

}
/* drop down */
.dropdown_menu
{
    display: none;
position: absolute;
right:2rem;
top: 60px;
width: 300px;
height: 0;
background-color:rgb(255, 255, 255,.2);
backdrop-filter:blur(px);
border-radius: 15px;
overflow:hidden;
transition:height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
.dropdown_menu .open
{
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    align-items: center;
    display: flex;
    justify-content: center;

}
.dropdown_menu .action_btn
{
    display: flex;

}
/* responsive */
@media (max-width:600px) {
    .navbar .link,
    .navbar .action_btn
    {
        display:none;
    }
  
    .navbar .toggle_btn
    {
        display: block;
    }

    .dropdown_menu
    {
        display: block;
    }
    
}