body
{
    
     
     background-color: rgb(200, 184, 184);
     border-radius: 0%;
}
h1
{
    border: 1px;
    color: aqua;
    background-color: rgb(113, 113, 126);
    text-align:center;
    
}
*
{
    padding: 0;
    margin: 0;
}
div1
{
    position:fixed;
    width: 380px;
    height: 420px;
    border-radius: 300px;
}

form
{

border: 10px;
background-image:url(img3.webp);
background-size: cover;
position: absolute;
a

}
table{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    
}